@model WebApplication1.Models.User

@{
    ViewData["Title"] = "Đăng ký";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Username">Tên đăng nhập</label>
        <input asp-for="Username" class="form-control" placeholder="Nhập tên đăng nhập" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Mật khẩu</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Nhập mật khẩu" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" class="form-control" placeholder="Nhập email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>
